// Ajout de variable

@dark: #222;
@light: #fff;

// code du css

body {
  background: @light;
  color: @dark;

  transition: all 0.25s ease;
  &.dark {
    background: @dark;
    color: @light;
  }
}
